<ion-content padding >
  <h1 class="titulo">INGRESO</h1>
  
  <ion-item style="background-color: transparent">
    <ion-label>Email</ion-label>
    <ion-input type="text" name="email" class="inputlogin" [(ngModel)]="email"></ion-input>
  </ion-item>
  
  <ion-item class="inputlogin">
    <ion-label>Contraseña</ion-label>
    <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <br>

  <button ion-button block class="botoningreso" (click)="onSubmitLogin()" expand="block">Iniciar sesión</button>
  
  <br>
</ion-content>