
p, h1{
    color: #e6b42b;
    text-align: center;
  }

  button.botoningreso {
      background-color: #e6b42b;
      color: white;
      width: 100%;
      height: 2rem;
      border-radius: 1rem;
  }

  .titulo {
      padding-top: 8rem;
  }

  ion-item {
      color: grey;
      border: 1px red solid;
  }

  .inputlogin {
    background-color: transparent;
}

ion-item {
    --highlight-color-valid: transparent !important;
  }