<ion-header>
  <ion-toolbar>
    <ion-title>
      <button ion-button menuToggle routerLink="/exp" >
        <ion-icon name="barcode" class="icon-men" ></ion-icon>
        
      </button>
      Pasantia IDER
    </ion-title>
  </ion-toolbar>
</ion-header>

 
<ion-content padding class="cont">
 
  <ion-grid fixed>
    <ion-row>
      <!-- <ion-col> -->
        <ion-item >
          <ion-input placeholder="Ingrese No conformidad" [(ngModel)]="noconformidadName"></ion-input>
        </ion-item>
      <!--</ion-col>-->
      
        <ion-item>
          <ion-input placeholder="Ingrese equipo" [(ngModel)]="equipoName1"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-input placeholder="Ingrese area" [(ngModel)]="areaName2"></ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea placeholder="Ingrese descripción"></ion-textarea>
        </ion-item>
      
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="CreateRecord()" [disabled]="!noconformidadName || !equipoName1 || !areaName2">
          <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
          &nbsp;CREAR NC
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
 
 
  <ion-card *ngFor="let item of noconformidad">
    <span *ngIf="!item.isEdit; else elseBlock">
      <ion-card-header>
        <ion-card-title>Equipo {{item.Name}} <br>
          NC: {{item.Name1}} </ion-card-title>
        <ion-card-subtitle>Area{{item.Name2}}</ion-card-subtitle>
        <!--<ion-card-subtitle>dsec{{item.Name0}}</ion-card-subtitle>-->
      </ion-card-header>
      <ion-card-content>
 
        <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
          <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
 
        </ion-button>
        <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
          <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
 
        </ion-button>
        
      </ion-card-content>
    </span>
    <ng-template #elseBlock>
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                Edit
              </ion-col>
              <ion-col>
                <ion-button fill="clear" color="medium" size="small" (click)="item.isEdit = false">
                  Cancel
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button fill="outline" color="success" size="small" (click)="UpdateRecord(item)">
                  Update
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label><strong>No conformidad</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Equipo</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditName1"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Area</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditName2"></ion-input>
        </ion-item>
      </ion-card-content>
    </ng-template>
  </ion-card>
 
</ion-content>
