<ion-header>
  <ion-toolbar>
    <ion-title>
      <button ion-button menuToggle routerLink="/exp" >
        <ion-icon name="barcode" class="icon-men" ></ion-icon>
        
      </button>
      Pasantia IDER
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-label background="medium">Expediente No. 1234</ion-label>
<ion-content color="medium" >
  <div color="medium">
    <ion-list color="medium">
      
      <ion-item color="medium">
        <ion-label>Equipos</ion-label>
        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One">
          <ion-select-option value="{{item.Equipo}}" *ngFor="let item of equipos">{{item.Equipo}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item color="medium">
        <ion-label>Ubicación</ion-label>
        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One">
          <ion-select-option value="{{item.Ubicacion}}" *ngFor="let item of ubicacion">{{item.Ubicacion}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item color="medium">
        <ion-label >No conformidad</ion-label>
        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One" [(ngModel)]="noConformidadSeleccionada" (ionChange)="onSelectChange()">
          <ion-select-option *ngFor="let item of newnoconformidad" [value]="item">{{item.NoConformidad}}</ion-select-option>
        </ion-select>
      
      </ion-item>
    </ion-list>

    <ion-item color="medium">
      <ion-label >Criterio:</ion-label>
      <ion-label >{{criterio}}</ion-label>
    
    </ion-item>

    <ion-item color="medium">
      <ion-label >Descripción:</ion-label>
      <ion-label >{{descripcion}}</ion-label>
    </ion-item>

    <ion-item color="medium">
      <ion-label >Referencias normativa:</ion-label>
      <ion-label >{{referencia}}</ion-label>
    </ion-item>

    <ion-item color="medium">
      <ion-label >Riesgo eléctrico:</ion-label>
      <ion-label >{{riesgo}}</ion-label>
    </ion-item>
    </div>
        
    <button ion-button text-align: center >Guardar</button>
   
</ion-content>




