<ion-header>
  <ion-toolbar>
    <ion-title>
      <button ion-button menuToggle routerLink="/login" >
        <ion-icon name="barcode" class="icon-men" ></ion-icon>
        
      </button>
      Pasantia IDER
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding class="cont">

  <ion-grid fixed>
    <ion-row>
      <!-- <ion-col> -->
        <ion-item >
          <ion-input placeholder="Ingrese ODS/ODT" [(ngModel)]="studentName"></ion-input>
        </ion-item>
      <!--</ion-col>-->
      
        <ion-item>
          <ion-input placeholder="Ingrese cliente" [(ngModel)]="studentAge"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-input placeholder="Ingrese dirección" [(ngModel)]="studentAddress"></ion-input>
        </ion-item>
      
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="CreateRecord()" [disabled]="!studentName || !studentAge || !studentAddress">
          <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
          &nbsp;CREAR ODS/ODT
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
 
 
  <ion-card *ngFor="let item of students">
    <span *ngIf="!item.isEdit; else elseBlock">
      <ion-card-header>
        <ion-card-title>ODT/ODS # {{item.Name}} <br>
          Cliente: {{item.Age}} </ion-card-title>
        <ion-card-subtitle>Dirección {{item.Address}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
 
        <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
          <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
 
        </ion-button>
        <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
          <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
 
        </ion-button>
        <ion-button shape="round" color="danger" size="small" routerLink="/exp">
          Expediente 
        </ion-button>
      </ion-card-content>
    </span>
    <ng-template #elseBlock>
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                Edit
              </ion-col>
              <ion-col>
                <ion-button fill="clear" color="medium" size="small" (click)="item.isEdit = false">
                  Cancel
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button fill="outline" color="success" size="small" (click)="UpdateRecord(item)">
                  Update
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label><strong>Name</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Age</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditAge"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Address</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditAddress"></ion-input>
        </ion-item>
      </ion-card-content>
    </ng-template>
  </ion-card>
 
</ion-content>