<ion-header>
  <ion-toolbar>
    <ion-title>
      <button ion-button menuToggle routerLink="/home" >
        <ion-icon name="barcode" class="icon-men" ></ion-icon>
        
      </button>
      Pasantia IDER
    </ion-title>
  </ion-toolbar>
  
</ion-header><ion-title >Bienvenido <br>
  Seleccione que desea hacer</ion-title>

<ion-content>

  
  <ion-card>
   
    <ion-card-header routerLink="/selnoc" >Ingreso de NC</ion-card-header>
   
</ion-card>

  <ion-card>
   
      <ion-card-header routerLink="/noconformidades" >Crear nueva NC</ion-card-header>
     
  </ion-card>
  <ion-button  color="secondary" size="small" >Tomar foto

    <ion-icon size="small" slot="icon-only" name="camera" ></ion-icon>

  </ion-button>
 

</ion-content>
